@import '../Helpers/global';

.aboutUs{
      overflow: hidden;
      .banner__about{
        img{
            width: 90%;
        }
      }

    .aboutUs__content{
        .about__heading{
            align-items: center;
        
            h4{
            color: $color-purple;
            font-size: 1.1rem;
            margin-bottom: 0.5em;
            font-weight: 600;
            
            }
            p{
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 55px;
            }
        }

        .img-heading{
            transform: translateY(-170px);
            width: 100%;
        }

        .item{
            height: 250px;
        }
    }

    

}