@import '../Helpers/global';

.contact{
    .banner__contact{
        background-image: url(../../images/Wave_White_bottom_right_shape_01.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    }
}