@import '../Helpers/global';
.mainHeader{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content{

    .navbar-brand{
        img{
            width: 80px;
        }
        
    }
    .collapse{
        justify-content: end;
        align-items: center;
        a{
            color: $color-black;
            transition: all 0.5s;
            &:hover{
                color: $color-purple;
            }
        }

        .nav-link{
            margin-right: 40px;
            font-weight: 600;
            transition: all 0.5s;
            
        }
        
        .header__right{
            display: flex;

            .header__phone{
                i{
                    transform: rotate(270deg);
                }
            }
           
        }
        .header__phone{
            a{
                padding: 10px 15px;
                border-radius: 30px;
                background-color: $color-purple;
                color: $color-white;
                transition: all 0.5s;
                &:hover{
                    text-decoration: none;
                    background-color: $color-white;
                    border: 1px solid $color-purple;
                    color: $color-purple;
                }
            }
        }
    }

    .header__social{
        .social{
            display: flex;
            justify-content: space-between;
            margin-left: 10px;
            
            li{
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }
    
}


